/* Style for the container of the pie charts */
.pie-container {
  display: grid;
  grid-template-columns: repeat(2, 1fr); /* Default to 2x2 grid */
  gap: 10px;
  margin: 20px;
}

/* For smaller screens, switch to a 1x4 grid */
/* For smaller screens, switch to a 1x4 grid */
@media (max-width: 768px) {
  .pie-container {
    grid-template-columns: repeat(1, 1fr);
  }
}

/* Media query for Galaxy Fold or specific device */
@media (max-width: 280px) {
  .pie-container {
    grid-template-columns: repeat(1, 1fr);
  }
}


/* Style for each individual pie chart */
.pie-chart {
  width: 100%;
  max-width: 350px; /* Fixed width for all pie charts */
  margin: 0 auto; /* Center the pie charts */
}

.gray-text {
  color: gray;
}
/* Style for the main heading */


h2 {
  text-align: left;
  color: whitesmoke;
  padding: 0px 10px;
  margin-left: 7px;
  font-size: 2.5rem;
  background: -webkit-linear-gradient(
    120deg,
    var(--primary-color-alt),
    var(--primary-color)
  );
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
}