/* src/styles/Content.css */

/* Content Styles */
.content {
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: flex-start;
    padding: 2rem;
    background-color: var(--dark-color);
    color: var(--white-color);
  }
  
  .content__image img {
    max-width: 100%;
    max-height: 444px;
    width: auto;
    height: auto;
    border-radius: 10px;
  }
  
  .content__text {
    flex: 1;
    margin-top: 1rem; /* Add spacing between image and text on small screens */
  }
  
  .content__text h2 {
    font-size: 2.5rem;
    background: -webkit-linear-gradient(120deg, var(--primary-color-alt), var(--primary-color));
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
    color: var(--white-color);
  }
  
  .content__description {
    font-size: 1.6rem;
    font-weight: 700;
    line-height: 1.5;
    color: var(--white-color-alt);
  }
  
  .content__highlight {
    color: var(--primary-color);
  }
  
  /* Responsive Styles */
  @media screen and (min-width: 600px) {
    /* Styles for tablets (e.g., iPad) */
    .content__text {
      margin-left: 2rem; /* Adjust margin for larger screens */
    }
  }
  
  @media screen and (min-width: 768px) {
    /* Styles for small desktop screens (e.g., laptops) */
    .content {
      flex-direction: row;
      align-items: flex-start;
    }
  
    .content__text {
      text-align: left;
      flex: 1;
      margin-left: 2rem;
    }
  }
  
  @media screen and (min-width: 1024px) {
    /* Styles for larger desktop screens */
    .content__image img {
      max-height: 444px; /* Adjust the maximum height for larger screens */
    }
  }
  