/* Fonts */
@import url("https://fonts.googleapis.com/css2?family=Raleway:wght@100;200;300;400");

/* Colors */
:root {
  --primary-color: hsl(9, 94%, 61%);
  --primary-color-alt: hsl(28, 72%, 83%);
  --second-color: #3e537c;
  --second-color-alt: hwb(220 24% 52% / 0.65);
  --third-color: hsl(220, 36%, 28%);
  --white-color: #fbfbfb;
  --white-color-alt: hsl(12, 14%, 93%);
  --dark-color: hsl(300, 100%, 0%);
  --navbar-transparency: 0.9; /* Adjust the transparency value */
}

/* Navbar Styles */
.navbar {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 1rem 2rem;
  background-color: rgba(0, 0, 0, var(--navbar-transparency)); /* Use rgba for transparency */
  color: var(--white-color);
}

.navbar__logo {
  font-size: 2.5rem;
  background: -webkit-linear-gradient(
    120deg,
    var(--primary-color-alt),
    var(--primary-color)
  );
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
}

.navbar__menu {
  display: flex;
  list-style: none;
}

.navbar__item {
  margin: 0 1rem;
}

.navbar__link {
  text-decoration: none;
  font-size: 1rem;
  color: var(--white-color);
  transition: color 0.3s;
}

.navbar__link:hover {
  color: var(--primary-color);
}

/* Navbar Search Styles */
.navbar__search {
  display: flex;
  align-items: center;
  margin-left: 1rem; /* Adjust the spacing between logo and search bar */
}

.navbar__search input {
  padding: 1rem; /* Increased padding for a larger search bar */
  font-size: 1rem;
  border: none;
  background-color: rgba(255, 255, 255, var(--navbar-transparency)); /* Use rgba for transparency */
  color: var(--second-color-alt);
  transition: background-color 300ms;
  border-radius: 20px; /* Increased border-radius for rounded corners */
  width: 300px; /* Adjusted width for a wider search bar */
}

.navbar__search input:focus {
  outline: none;
  background-color: rgba(255, 255, 255, 1); /* Fully opaque on focus */
}

/* Add search and clear symbols */
.navbar__search-icons {
  display: flex;
  margin-left: 0.5rem; /* Adjust spacing between search bar and icons */
}

.navbar__search-icon {
  margin-right: 0.5rem;
  cursor: pointer;
}

/* Responsive Styles */
@media screen and (max-width: 768px) {
  .navbar {
    padding: 1rem; /* Adjust padding for smaller screens */
  }

  .navbar__menu {
    flex-direction: column;
    align-items: flex-start;
    background-color: rgba(0, 0, 0, var(--navbar-transparency)); /* Adjust background color for overlay effect */
    position: absolute;
    top: 70px; /* Adjust top position */
    left: 0;
    width: 100%;
    display: none;
    z-index: 1; /* Ensure menu is above other content */
  }

  .navbar__menu.active {
    display: flex;
  }

  .navbar__item {
    margin: 0.5rem 0; /* Adjust margin for smaller screens */
  }

  .navbar__search {
    flex: 1; /* Allow search bar to take remaining space */
    justify-content: flex-end; /* Align search bar to the right */
    margin-left: 0; /* Remove margin for smaller screens */
  }

  .navbar__search input {
    width: 100%; /* Take full width of the container */
  }
}
